// CLOTHES
.content {
  grid-row: content;
}

.clothes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &-card {
    display: grid;
    grid-template-rows: [img] 3fr [about] 1fr;
    color: $dark-text-color;
  
    &:hover &__about { 
      background-color: $active-color;
      color: $light-text-color;
      
      .stick {
        background-color: $light-text-color;
      }

      &::before {
        background-color: $active-color;
      }
    }
  
    &__img {
      @include size(100%, 410px);
  
      img {
        @include size(100%);
        object-fit: cover;
      }

      @include smDesktop {
        height: auto;
      }

      @include tablet {
        height: 250px;
      }

      @include phone {
        height: 200px;
      }
    }
  
    &__about {
      position: relative;
      background-color: $light-bg-color;
      display: grid;
      align-content: space-evenly;
      text-align: center;
      border-right: 1px solid #e3e3e3;
      transition: all .3s ease;
      padding: 0px .5rem;
  
      &:last-child{
        border-right: none;
      }
      // Triangle
      &::before {
        content: '';
        position: absolute;
        top: -7px;
        left: calc(50% - 7px);
        @include size(15px, 15px);
        background-color: $light-bg-color;
        transform: rotate(45deg);
        transition: all .3s ease;
      }
    }
  
    &__caption {
      @include font($caption-font, rem(18));
  
      &::before {
        content: '';
        @include size(125px, 2px);
        background-color: $active-color;
      }
    }
  
    &__author {
      font-size: rem(14);
      font-style: italic;
    }
  }

  @include tablet {
    grid-template-columns: repeat(2, auto);

    &-card {
      grid-template-rows: [img] 2fr [about] 1.2fr;
    }
  }
}

.stick {
  @include size(125px, 2px);
  background-color: $active-color;
  margin: auto;
}

// POSTS

.blog {

  &__inner {
    grid-column: content;
    display: grid;
    grid-template-columns: [feed] 2fr [sidebar] 1fr;
    align-items: start;
    column-gap: 30px;
    padding: 30px 0px;

    @include tablet {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  }
}

.post-navigation {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  
  &__link {
    color: $dark-text-color;
    padding: 15px 0px;
    transition: all .3s ease;
    
    &:hover{
      color: $active-color;
    }
  }
}

.feed {
  display: grid;
  grid-gap: 25px;

  &-post {
    display: grid;
    @include alignElements(center);
    row-gap: 20px;

    &__title {
      font-size: rem(24);
      text-align: center;
      line-height: 1.6rem;
    }
  
    &__description {
      text-align: center;
      font-family: $regular-font;
    }

    &__info {
      justify-content: center;
    }
  }
}

.post-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-style: italic;
  @include font($regular-font, rem(14));

  &__author-info {
    color: $medium-text-color;
  }
  
  &__author-img {
    @include size(40px);
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 5px;
  }
}

.post-card {
  background-color: $light-bg-color;
  display: grid;
  grid-template-rows: 500px auto 100px;
  @include font($regular-font, rem(14));

  &__img {
    @include size(100%);

    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }

  &__body {
    padding: $post-card-padding;
  }

  &__icons {
    justify-content: center;
    align-items: center;
    @include size(100%);
    border-top: 1px dashed $post-border-color;
  }

  @include smDesktop {
    grid-template-rows: 350px auto 100px;
  }

  @include phone {
    grid-template-rows: 250px auto 65px;
  }
}