.contact {  
  &__inner {
    display: grid;
    row-gap: 30px;
    grid-column: content;
    padding: 50px 0px;
  }

  &__info {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(200px, 290px);
    padding: 0px;

    @include smDesktop {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 200px);
    }
  }

  &__map {
    width: 100%;
    background-color: $light-bg-color;
    padding: $section-padding;

    img {
      width: 100%;
      min-height: 300px;
      object-fit: cover;
    }
  }
}

.contact-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  column-gap: 20px;
  align-items: center;
  height: 100%;
  border-right: 1px solid $bg-color-secondary;
  padding: $section-padding;

  &:last-child {
    border: none;
  }

  &__caption {
    grid-column: span 2;
    align-self: center;
  }

  &__text {
    @include font($caption-font, rem(16));
    line-height: 1.6rem;
    font-weight: 700;
  }

  &__icon {
    background-color: $active-color;
    @include size(100px);
    display: grid;
    @include alignElements(center);
    
    i {
      color: $light-text-color;
      font-size: rem(36);
    }
  }

  @include smDesktop {
    grid-template-columns: auto 1fr;
    border: none;
    grid-gap: 10%;
  }

  @include phone {
    &__icon {
      @include size(70px);
    }
  }
}

.feedback {
  grid-template-columns: minmax(auto, 700px);
  justify-content: center;
  row-gap: 35px;

  &__form {
    min-height: 270px;
    grid-template-areas: 
      'name comment'
      'email comment' 
      'phone comment' 
      'submit comment';

    @include tablet {
      grid-template-areas: 
        "name" 
        "email"  
        "phone" 
        "comment" 
        "submit";
    }
  }
}