.footer {
  @include font($caption-font, rem(14));
  font-weight: bold;
  text-transform: uppercase;
  background-color: $light-bg-color;
  display: grid;
  grid-template-rows: [caption] 1fr [galery] 2fr [icons] 1fr [copyright] 70px;
  @include alignElements(center);

  &__galery {
    padding: 0px 5%;
  }

  &__caption {
    grid-row: caption;
  }

  &__icons {
    a {
      margin-right: 20px;
    }
  }

  @include desktop {
    grid-template-rows: [caption] 1fr [galery] 4fr [icons] 1fr [copyright] 70px;
  }

  @include tablet {
    &__galery {
      padding: 0px;
    }
  }
} 

.galery {
  grid-row: galery;
  display: grid;  
  column-gap: 30px; 
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(6, minmax(150px, 1fr));

  &__overlay {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    display: grid;
    @include alignElements(center);
    @include size(100%);
    opacity: 0;
    background-color: fade-out($dark-text-color, .5);
    transition: all .3s ease;
    z-index: 2;
  }

  &__link {
    position: relative;
    color: $active-color;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0px;
      @include size(0px, 3px);
      transition: all 0.3s ease;
      background-color: $active-color;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__image {
    position: relative;
    width: 100%;

    img {
      width: 100%;
    }

    &:hover .galery__overlay {
      opacity: 1;
    }
  }

  @include desktop {
    grid-template-columns: repeat(3, 200px);
    row-gap: 20px;
  } 

  @include tablet {
    grid-template-columns: repeat(2, minmax(150px, 30%));
    gap: 10px;
  }
  
  @include phone {
    grid-template-columns: repeat(2, minmax(100px, 40%));
  }
}

.copyright {
  @include size(100%);
  display: grid;
  justify-content: center;
  align-content: center;
  justify-self: center;
  text-align: center;
  border-top: 1px solid #e1e1e1;

  &__link {
    color: $active-color;
  }
}