// SIDEBAR
.sidebar {
  position: sticky;
  top: 30px;
  display: grid;
  row-gap: 30px;
  height: auto;
}

.about {
  text-align: center;
  display: grid;
  background-color: $light-bg-color;
  row-gap: 25px;
  // grid-template-columns: [caption] 1fr [img] 4fr [description] 2fr;
  padding: $sidebar-padding;

  &__img {
    width: 100%;
    
    img {
      width: inherit;
    }
  }

  &__description {
    font-size: rem(14);
    font-style: italic;
  }
}

.subscribe {
  background-color: $active-color;
  display: grid;
  row-gap: 20px;
  padding: $sidebar-padding;
  color: $light-text-color;
  font-size: rem(14px);

  &__form {
    display: grid;
    row-gap: 10px;
  }

  &__email-field {
    @include font($regular-font , 16px);
    padding: 10px;
  }

  &__button {
    font-family: $caption-font;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    background-color: $dark-text-color;
    color: $light-text-color;
  }
}

.popular-posts {
  display: grid;
  padding: $sidebar-padding;
  row-gap: 25px;
  background-color: $light-bg-color;

  &__list {
    display: grid;
    row-gap: 20px;
  }
}

.posts-item {
  display: grid;
  grid-template-columns: 150px 1fr;
  column-gap: 15px;

  &__about {
    display: grid;
    align-content: space-between;
  }

  &__img {
    width: 100%;

    img {
      width: inherit;
    }
  }

  &__title {
    font-size: rem(18);
  }

  @media screen and (max-width: $desktopWidth) {
    grid-template-rows: 2fr 1fr;
    row-gap: 10px;
    grid-template-columns: 1fr;
  }
}

.category {
  display: grid;
  background-color: $light-bg-color;
  padding: $sidebar-padding;
  row-gap: 15px;

  &__item {
    font-size: rem(14);

    a {
      width: 100%;
      color: $active-color;
      font-style: italic;
      padding: 10px 0px;

      &:hover .category__icon {
        transform: translateX(10px); 
      }
    }
  }

  &__icon {
    color: $dark-text-color;
    margin-right: 20px;
    transition: all .3s ease;
  }
}