// SIDEBAR
.sidebar {
  position: sticky;
  top: 30px;
  display: grid;
  row-gap: 30px;
  height: auto;
  min-width: 270px;

  &__item {
    display: grid;
    background-color: $light-bg-color;
    padding: $sidebar-padding;
  }

  @include tablet {
    grid-template-columns: repeat(2, 48%);
    align-items: flex-start;
    justify-content: space-between;
    grid-template-areas:
        'about posts'
        'subscribe posts'
        'category posts';
  }

  @include phone{
    grid-template-columns: repeat(1, 100%);
    grid-template-areas:
        "about"
        "subscribe"
        "category"
        "posts";
  }
}

.about {
  text-align: center;
  row-gap: 25px;

  &__img {
    width: 100%;
    
    img {
      width: inherit;
    }
  }

  &__description {
    font-size: rem(14);
    font-style: italic;
  }
}

.subscribe {
  background-color: $active-color;
  color: $light-text-color;
  row-gap: 20px;
  font-size: rem(14px);

  &__form {
    display: grid;
    row-gap: 10px;
  }

  &__email-field {
    @include font($regular-font , rem(16));
    padding: 10px;
    width: 100%;
  }

  &__button {
    font-family: $caption-font;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    background-color: $dark-text-color;
    color: $light-text-color;
  }
}

.popular-posts {
  row-gap: 25px;

  &__list {
    display: grid;
    row-gap: 20px;
  }
}

.posts-item {
  display: grid;
  grid-template-columns: 150px 1fr;
  column-gap: 15px;

  &__about {
    display: grid;
    align-content: space-between;
  }

  &__img {
    width: 100%;
    align-self: baseline;
    max-height: 200px;

    img {
      width: inherit;
      @include size(100%);
      object-fit: cover;
    }
  }

  &__title {
    font-size: rem(18);
  }

  @media screen and (max-width: $desktopWidth) {
    row-gap: 10px;
    grid-template-columns: 1fr;

    &__img {
      height: 100%;
    }
  }
}

.category {
  row-gap: 15px;
  
  &__item {
    font-size: rem(14);
  }

  &__link {
    width: 100%;
    color: $active-color;
    font-style: italic;
    padding: 10px 0px;

    &:hover .category__icon {
      transform: translateX(10px); 
    }
  }

  &__icon {
    color: $dark-text-color;
    margin-right: 20px;
    transition: all .3s ease;
  }
}

@media screen and (max-width: $tabletWidth) {
  .about {
    grid-area: about;  
  }

  .subscribe {
    grid-area: subscribe;
  }

  .popular-posts {
    grid-area: posts;
  }

  .category {
    grid-area: category;
  }

  .popular-posts {
    &__item {
      grid-template-rows: 1fr auto;
    }
  }  
}