.page-caption {
  height: 250px;
  background: url('../../img/background.jpeg') no-repeat center /cover;
  display: grid;
  @include alignElements(center);

  &__title {
    border-bottom: 3px solid $active-color;
    padding: 20px;
    color: $light-text-color;
    font-weight: bold;
    @include font($caption-font, rem(36));
  }
}

.single-post {
  &__title {
    font-size: 24px;
    line-height: 2rem;
  }

  &__info {
    padding: rem(20) 0;
  }

  &__article-text {
    font-size: 14px;
    line-height: 1.5rem;
  }
}

.article-text {
  &__paragraph {
    margin: 1.4rem 0px;

    &:first-child {
      margin: 0;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__caption {
    @include font($caption-font, 20px);    
    font-weight: 500;
  }

  &__quote {
    display: grid;
    grid-template-columns: 1fr 20fr;
    column-gap: 20px;
    align-items: center;
    position: relative;
    padding: 25px;
    font-style: italic;
    background-color: $bg-color-primary;

    &::before {
      content: '';
      width: 100%;
      height: 4px;
      background-color: $active-color;
    }
  }  
}

.author {
  grid-template-areas: 'caption caption' 'img about';
  gap: 25px;

  &__caption {
    grid-area: caption;
  }

  &__img {
    grid-area: img;
  }

  &__nick {
    margin-bottom: 1rem;
  }

  &__about {
    grid-area: about;
    align-self: center;
  }

  @include phone {
    grid-template-areas: 'caption caption' 'img img' 'about about';
    justify-items: center;

    &__img {
      width: 30%;

      img {
        width: 100%;
      }
    }

    &__about {
      text-align: center;
    }
  }
}

.comments {
  &__item {
    border-bottom: 1px dashed $post-border-color;
    padding: 2rem 0px;
  }

  &__list_subcomments {
    grid-row: subcomments;
    grid-column: about;

    @include phone {
      grid-column: span 2;
      margin-left: 20px;
    }
  }

  &__item_subcomment {
    border-bottom: none;
    padding-top: 20px;
  }
}

.comments-item {
  display: grid;
  grid-template-columns: [img] minmax(25px, 12%) [about] 1fr;
  grid-template-rows: [info] auto [comment] 1fr [subcomments] auto;
  gap: 10px 5%;

  &__img {
    grid-column: img;
    grid-row: span 2;
    width: 100%;
    align-self: baseline;

    img {
      width: inherit;
    }
  }

  &__info {
    position: relative;
    grid-column: about;
    grid-row: info;
  }

  &__nick {
    display: inline-block;
    margin-right: 5px;
  }

  &__date {
    font-size: rem(14);
    font-style: italic;
    color: $medium-text-color;
  }

  &__reply {
    position: absolute;
    right: 0px;
    @include font($caption-font, rem(12));
    color: $active-color;
    font-weight: 500;

    i {
      color: $dark-text-color;
      margin-left: 10px;
    }
  }
}

.leave-comment {
  &__title {
    margin: rem(25) 0px;
    font-weight: 700;
    font-size: rem(18);
  }

  &__form {
    min-height: 200px;
    grid-template-areas: 
      'name comment'
      'email comment' 
      'submit comment';

    @include tablet {
      grid-template-areas: 
        "name" 
        "email"  
        "comment" 
        "submit";
    }
  }
}

.message-form {
  display: grid;
  gap: 25px;
  color: $medium-text-color;

  *{
    @include font($regular-font, rem(16px));
    border: 1px solid $input-border-color;
  }

  &__email {
    grid-area: email;
    padding: 0px 10px;
  }

  &__name {
    grid-area: name;
    padding: 0px 10px;
  }

  &__name:focus, &__email:focus, &__comment:focus {
    outline: 2px solid $active-color;
  }

  &__btn {
    grid-area: submit;
    @include font($caption-font, rem(14px));
    background-color: $active-color;
    color: $light-text-color;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background-color .2s ease;

    &:hover, &:focus {
      background-color: $active-hover-color;
    }
  }

  &__comment {
    grid-area: comment;
    max-height: 100%;
    padding: 15px;
    resize: none;
    min-height: 100px;
  }

  &__phone {
    grid-area: phone;
    padding: 0px 10px;
  }

  @include tablet {
    * {
      padding: 15px;
    }
  }
}

.related-posts {
  grid-template-columns: 1fr 1fr;
  gap: 30px 25px;

  &__caption {
    grid-column: span 2;
  }
}

.related-item {
  text-align: center;

  &__img {
    width: 100%;

    img {
      @include size(100%);
      max-height: 200px;
      object-fit: cover;
    }
  }

  &__title {
    margin-top: rem(20);
    color: $dark-text-color;
  }
}