.page-caption {
  height: 250px;
  background: url('/assets/img/background.jpeg') no-repeat center /cover;
  display: grid;
  @include alignElements(center);

  &__title {
    display: block;
    border-bottom: 3px solid $active-color;
    padding: 20px;
    color: $light-text-color;
    font-weight: bold;
    @include font($caption-font, rem(36));
  }
}

.single-post {
  background-color: $light-bg-color;
  
  &__body {
    padding: 30px;
  }

  &__title {
    font-size: 24px;
  }

  &__img {
    width: 100%;

    img {
      width: inherit;
    }
  }

  &__info {
    padding: 25px 0px;
  }

  &__article-text {
    font-size: rem(16);
  }

  &__icons {
    height: 90px;
    align-items: center;
    justify-content: center;
    border-top: 1px dashed $post-border-color;
  }
}

.article-text {
  &__paragraph {
    margin: 30px 0px;

    &:first-child {
      margin: 0;
    }
  }

  &__quote {
    display: grid;
    grid-template-columns: 1fr 20fr;
    column-gap: 20px;
    align-items: center;
    position: relative;
    padding: 25px;
    font-style: italic;
    background-color: $bg-color-primary;

    &::before {
      content: '';
      width: 100%;
      height: 4px;
      background-color: $active-color;
    }
  }

  &__caption {
    @include font($caption-font, rem(20));
    font-weight: 500;
  }
}

.author {
  background-color: $light-bg-color;
  display: grid;
  grid-template-areas: 'caption caption' 'img about';
  gap: 25px;
  padding: 20px 30px 30px 30px;

  &__caption {
    grid-area: caption;
    max-width: 100px;
  }

  &__img {
    grid-area: img;
  }

  &__about {
    grid-area: about;
    align-self: center;
  }

  &__nick {
    @include font($caption-font, rem(16));
    font-weight: 700;
  }

  &__description {
    color: $medium-text-color;
    font-size: 16px;
  }

}

.comments {
  display: grid;
  background-color: $light-bg-color;
  padding: $feed-padding;

  &__item {
    border-bottom: 1px dashed $post-border-color;
    padding: 40px 0px;
  }

  &__list_subcomments {
    grid-row: subcomments;
    grid-column: about;
  }

  &__item_subcomment {
    border-bottom: none;
    padding-top: 20px;
  }
}

.comments-item {
  display: grid;
  grid-template-columns: [img] minmax(25px, 12%) [about] 1fr;
  grid-template-rows: [info] auto [comment] 1fr [subcomments] auto;
  // gap: 10px 20px;
  gap: 10px 5%;

  &__img {
    grid-column: img;
    grid-row: span 2;
    width: 100%;

    img{
      width: inherit;
    }
  }

  &__info {
    position: relative;
    grid-column: about;
    grid-row: info;
  }

  &__nick {
    display: inline-block;
    @include font($caption-font, rem(18));
    font-weight: 500;
    margin-right: 5px;

    a {
      color: $dark-text-color;
    }
  }

  &__date {
    font-size: rem(14);
    font-style: italic;
    color: $medium-text-color;
  }

  &__reply {
    position: absolute;
    right: 0px;
    @include font($caption-font, 12px);
    color: $active-color;
    font-weight: 500;

    i {
      color: $dark-text-color;
      margin-left: 10px;
    }
  }

  &__comment-text {
    font-size: rem(14);
    color: $medium-text-color;
  }
}

.leave-comment {
  &__title {
    margin: 25px 0px;
    font-weight: 700;
  }

  &__form {
    min-height: 200px;
    grid-template-areas: 'name comment'
                        'email comment' 
                        'submit comment';
  }
}

.message-form {
  display: grid;
  gap: 25px;
  color: $medium-text-color;

  *{
    @include font($regular-font, rem(16px));
    border: 1px solid $input-border-color;
  }

  &__email {
    grid-area: email;
    padding: 0px 10px;
  }

  &__name {
    grid-area: name;
    padding: 0px 10px;
  }

  &__btn {
    grid-area: submit;
    @include font($caption-font, rem(14px));
    background-color: $active-color;
    color: $light-text-color;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }

  &__comment {
    grid-area: comment;
    max-height: 100%;
    padding: 15px;
    resize: none;
    min-height: 100px;
  }

  &__phone {
    grid-area: phone;
    padding: 0px 10px;
  }
}

.related-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $light-bg-color;
  padding: $feed-padding;
  gap: 30px 25px;

  &__caption {
    grid-column: span 2;
  }
}

.related-item {
  text-align: center;

  &__img {
    width: 100%;
  }

  &__title {
    margin-top: 20px;
    color: $dark-text-color;
  }
}