// DESKTOP
/* @media screen and (max-width: $desktopWidth) {
  
  // .container {
  //   grid-template-columns: $responsive-content-container
  // }

  // .footer {
  //   grid-template-rows: [caption] 1fr [galery] 4fr [icons] 1fr [copyright] 70px;
  // }

  // .galery {
  //   grid-template-columns: repeat(3, 200px);
  //   grid-template-rows: repeat(2, auto);
  //   row-gap: 20px;
  // }
} */

// SMALL DESKTOP
@media screen and (max-width: $smDesktopWidth) {
  /* html {
    font-size: 17px;
  } */

  /* .post-card {
    grid-template-rows: 350px auto 100px;
  } */
  
  /* .contact {
    &__info {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 200px);
    }
  } */

  /* .contact-card {
    grid-template-columns: auto 1fr;
    border: none;
    grid-gap: 10%;
  } */

  /* .clothes-card {
    &__img {
      height: auto;
    }
  } */
}

// TABLET
@media screen and (max-width: $tabletWidth) {
  /* html {
    font-size: 16px;
  } */
  
  /* .galery {
    grid-template-columns: repeat(2, minmax(150px, 30%));
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  } */

  /* footer {
    &__galery {
      padding: 0px;
    }
  } */

  /* .clothes {
    grid-template-columns: repeat(2, auto);

    &-card {
      grid-template-rows: [img] 2fr [about] 1.2fr;
  
      &__img {
        height: 250px;
      }
    }
  } */

  /* .blog__inner {
    grid-template-columns: 1fr;
    row-gap: 30px;
  } */

  
  // Sidebar
  /* .sidebar {
    grid-template-columns: repeat(2, 48%);
    align-items: flex-start;
    justify-content: space-between;
    grid-template-areas:
        'about posts'
        'subscribe posts'
        'category posts';
  } */

  /* .about {
    grid-area: about;  
  }

  .subscribe {
    grid-area: subscribe;
  }

  .popular-posts {
    grid-area: posts;
  }

  .category {
    grid-area: category;
  }

  .popular-posts {
    &__item {
      grid-template-rows: 1fr auto;
    }
  }   */

  // Contacts
  /* .feedback {
    &__form {
      grid-template-areas: 
        "name" 
        "email"  
        "phone" 
        "comment" 
        "submit";
    }
  } */

  /* .leave-comment {
    &__form {
      grid-template-areas: 
        "name" 
        "email"  
        "comment" 
        "submit";
    }
  } */

  /* .message-form {
    * {
      padding: 15px;
    }

    &__btn {
      padding: 20px;
    }
  } */

  /* .menu {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow-x: hidden;
    transition: all .3s ease;
    background-color: #252525e0;

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 100%;
    }

    &__item {
      margin: 0px;
    }

    &__link {
      position: relative;

      @include size(100%);
      padding: 20px 0px;
      &::after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: 0px;
        background-color: #fff;
        @include size(0px, 3px);
        transition: all .2s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  } */

  /* .burger-icon {
    display: inline-block;
  }
  
  .toggler:checked ~ .menu {
    display: flex;
    align-items: center;
  }

  .toggler:checked ~ .menu .burger-icon_close {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    i {
      font-size: 30px;
    }
  } */
}

// PHONE
@media screen and (max-width: $phoneWidth) {
  /* html {
    font-size: 15px;
  } */

  /* .clothes-card {
    &__img {
      height: 200px;
    }
  } */

  /* .post-card {
    grid-template-rows: 250px auto 65px;
  } */

  /* .sidebar {
    grid-template-columns: repeat(1, 100%);
    grid-template-areas:
        "about"
        "subscribe"
        "category"
        "posts";
  } */

  /* .contact-card {
    &__icon {
      @include size(70px);
    }
  } */

  /* .comments {
    &__list {
      &_subcomments {
        grid-column: span 2;
        margin-left: 20px;
      }
    }
  } */

  /* .author {
    grid-template-areas: 'caption caption' 'img img' 'about about';
    justify-items: center;

    &__about {
      text-align: center;
    }

    &__img {
      width: 30%;

      img {
        width: 100%;
      }
    }
  } */

  /* .galery {
    grid-template-columns: repeat(2, minmax(100px, 40%));
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  } */
}