@import 'vars';

@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin font($font, $size) {
  font-family: $font, 'sans-serif';
  font-size: $size;
}

@mixin alignElements($x, $y: $x) {
  align-items: $y;
  justify-items: $x;
}

@mixin alignSelf($x, $y: $x) {
  align-self: $y;
  justify-self: $x;
}

// Media queries
@mixin desktop{
  @media screen and (max-width: #{$desktopWidth}) {
    @content;
  }
}

@mixin smDesktop{
  @media screen and (max-width: #{$smDesktopWidth}) {
    @content;
  }
}

@mixin tablet{
  @media screen and (max-width: #{$tabletWidth}) {
    @content;
  }
}

@mixin phone{
  @media screen and (max-width: #{$phoneWidth}) {
    @content;
  }
}

