
//Initial sizes
$mainFontSize: 18px;
$mainLineHeight: 1.4rem;
$conteinerSize: 1178px;

//Breakpoints
$desktopWidth: 1200px;
$smDesktopWidth: 980px;
$tabletWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px; 

//Colors
$bg-color-primary: #f2f2f2;
$bg-color-secondary: #ccc;
$light-bg-color: #fff;
$nav-bg: #252525;
$dark-text-color: #000;
$light-text-color: #fff;
$medium-text-color: #9a9a9a;
$active-color: #fb7c56;
$post-border-color: #d4d4d4;
$descriptions-color: #707070;
$input-border-color: #bdc3c7;

//Grid props
$content-container: [left-gutter] 1fr [content] minmax(auto, $conteinerSize) [right-gutter] 1fr;
$responsive-content-container: [left-gutter] 20px [content] auto [right-gutter] 20px;

//Indents
$sidebar-padding: 1.5rem;
$feed-padding: 20px 30px 30px 30px;