
//Initial sizes
$mainFontSize: 18px;
$mainLineHeight: 1.4rem;
$conteinerSize: 1178px;

//Breakpoints
$desktopWidth: 1200px;
$smDesktopWidth: 980px;
$tabletWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px; 

//Colors
$bg-color-primary: pink;
