@import "reset";
@import "vars";
@import "mixins";
@import "fonts";
@import "icons";
@import "animations";

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

// Reset
/* *, *:after, *:before{ box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0px; }

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin: 0px;
  padding: 0px;
} */

//Styles

html {
  font-size: $mainFontSize;
  @include smDesktop {
    font-size: 17px;
  }
  @include tablet {
    font-size: 16px;
  }
  @include phone {
    font-size: 15px;
  }
}

body {
  background-color: $bg-color-primary;
  font-family: $regular-font;
  line-height: $mainLineHeight;
  min-height: 100vh;
  display: grid;
  grid-template-rows: [header] 310px [content] auto [footer] minmax(550px, auto);
}

a {
  display: inline-block;
}

// General classes

.selected-text {
  color: $active-color;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: $content-container;

  @media screen and (max-width: $desktopWidth) {
    grid-template-columns: $responsive-content-container
  }
}

.caption {
  position: relative;
  display: block;
  margin: auto;
  padding: 0px 5px 5px 5px;
  border-bottom: 3px solid $dark-text-color;
  @include font($caption-font, rem(14));
  font-weight: bold;
  text-transform: uppercase;
}

.description {
  color: $medium-text-color;
    font-size: rem(14);
}

.post-title {
  font-family: $caption-font;
  font-weight: 500;
  // line-height: 1.6rem;
  color: $dark-text-color;

  a {
    color: $dark-text-color;
  }
}

.nick {
  @include font($caption-font, rem(18));
  color: $dark-text-color;
  font-weight: 700;

  a {
    color: $dark-text-color;
  }
}

.icons {
  display: flex;
  // font-size: rem(18);
  font-size: 18px;

  &__item {
    margin-right: rem(20);

    &:last-of-type {
      margin-right: 0;
    }
  }
  
  &__link_rounded {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include size(40px);
    border-radius: 50%;
    background-color: $bg-color-primary;
    color: $dark-text-color;
    transition: all .3s ease;

    &:hover{
      background-color: $active-color;
      color: $light-text-color;
    }

    &:last-of-type {
      margin-right: 0px;
    }
  }
}

.blog-section {
  display: grid;
  background-color: $light-bg-color;
  padding: $feed-padding;
}

// @import "media";
@import "./modules/header.scss";
@import './modules/sidebar.scss';
@import "./modules/articles.scss";
@import './modules/singlePost.scss';
@import './modules/contact.scss';
@import './modules/about.scss';
@import "./modules/footer.scss";