@import "reset";
@import "vars";
@import "mixins";
@import "fonts";
@import "icons";
@import "animations";
@import "./modules/header.scss";
@import "./modules/footer.scss";
@import "./modules/articles.scss";
@import './modules/singlePost.scss';


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

// Reset
/* *, *:after, *:before{ box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0px; }

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin: 0px;
  padding: 0px;
} */

//Styles

html {
  font-size: $mainFontSize;
}

body {
  background-color: $bg-color-primary;
  font-family: $regular-font;
  line-height: $mainLineHeight;
  min-height: 100vh;
  display: grid;
  grid-template-rows: [header] 310px [content] auto [footer] minmax(550px, auto);
}

a {
  display: inline-block;
}

.selected-text {
  color: $active-color;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: $content-container;
}


@import "media"